NEXT_PUBLIC_SUPABASE_URL=https://jhinkxdunoxiwtdygzrw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpoaW5reGR1bm94aXd0ZHlnenJ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA3OTA0ODUsImV4cCI6MjA4NjM2NjQ4NX0.rccaRemJXiZgvRMxsTXw_zMxuqLuEsSXFTyFyM3ku50
DATABASE_URL="postgresql://postgres.jhinkxdunoxiwtdygzrw:KJkqx6lLtWcpqnms@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"
DIRECT_URL="postgresql://postgres.jhinkxdunoxiwtdygzrw:KJkqx6lLtWcpqnms@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres"

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpoaW5reGR1bm94aXd0ZHlnenJ3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDc5MDQ4NSwiZXhwIjoyMDg2MzY2NDg1fQ.WnQTsZukL9__1qXTnzu6qEwnVte9-dmiazZADyO4okE
THIRD_PARTY_API_KEY="d7087443b3fd2c1bc90ad48012af83cf9fd9b9808999f77299fc42ecd60a658d"
NEXT_PUBLIC_APP_URL = "https://ble-upgrade-page.vercel.app"


